@import '../../assets/variables';

.gnomo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .gnomo-error {
    color: $color-red;
    font-size: $space-separation-big;
  }

  .gnomo-filter {
    margin: 0 auto;
    width: 50%;
  }

  .gnomo-list {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    padding: $space-separation-huge;

    &__card {
      margin-bottom: $space-separation;
    }

    &__info {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      @media (min-width: $mobile-min-width) {
        flex-direction: column;
      }

      @media (min-width: $tablet-min-width) {
        flex-direction: row;
      }
    }

    &__first-column, &__second-column {
      text-align: left;

      @media (min-width: $mobile-min-width) {
        margin: $space-separation;
      }

      @media (min-width: $tablet-min-width) {
        margin: 0;
      }
    }

    &__image {
      align-self: center;
      width: 200px;

      @media (min-width: $mobile-min-width) {
        width: 150px;
      }
    }
  }
}
